div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}
div.SCOverlay {
	z-index: 2;
}


div#obj5645 {
position: absolute;
overflow: hidden;
top: 11px;
left: 14px;
width: 998px;
height: 31px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: auto;
}

div#obj5644 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1024px;
height: 768px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;
}
img#obj5644_img {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}











#obj5675{
  pointer-event: auto !important;
  height: 604px; /* full height on page */
  width: 933px; /* full width on page */
  background-color: #F4F4F4;
  border-color: #909090;
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: absolute;
overflow: hidden;
top: 77px;
left: 46px;
width: 933px;
height: 604px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
  /* override rotation value */
  transform:rotate(0deg) !important;
  -ms-transform:rotate(0deg) !important;
  -webkit-transform:rotate(0deg) !important;
}
#obj5675 .drawing-area{
  /*width and height must be the same as canvas */
  position:absolute;
  width:929px; /* (full width on page) + (negative area/canvas offset) */
  height:424px; /* (full height on page) + (negative area/canvas offset) */
  top:80px; /* top area offset leaving space for tools, tool sizes and clear btn */
  left:2px; /* left offset leaving space for images and clear btn */
  z-index:12; /* this has to be smaller then drawing-area-touch zindex */
  overflow: hidden !important;
}
#obj5675 .drawing-area-touch{
  position:absolute;
  width:929px; /* same as drawingarea */
  height:424px; /* same as drawingarea */
  top:80px; /* same as drawingarea */
  left:2px; /* same as drawingarea */
  z-index:22; /* this has to be greater then drawing-area zindex */
  overflow: hidden !important;
}
#obj5675 .drawing-tmp-area{
  position:absolute;
  width:929px; /* same as drawingarea */
  height:424px; /* same as drawingarea */
  top:80px; /* same as drawingarea */
  left:2px; /* same as drawingarea */
  overflow: hidden !important;
}
#obj5675 .drawing-clear{
  position:absolute;
  height: 60px;
  width: 60px;
  top:523px;
  left:853px;
  background-image: url(../../images/scdrawer-trash.png);
  background-size: 60px 60px;
  background-repeat: no-repeat;
}
#obj5675 .drawing-tools{
  position:absolute;
  top:523px;
  left:2px; /* same as drawingarea */
  display: inline-table;
}
#obj5675 .drawing-tools .tool{
  border : 1px solid white;
  float: left;
  clear: none;
  width: 60px;
  height: 60px;
}
#obj5675 .drawing-tools .tool.selected{
  border : 1px solid red;
}
#obj5675 .drawing-size{
  position: absolute;
  top: 507px;
  left: 740px;
  display: inline-block;
  max-height: 94px;
  max-width: 98px;
  height: 94px;
  width: auto;
  /*overflow: hidden;*/
}
#obj5675 .drawing-size .sizeContainer{
  max-height: 94px;
  height: 94px;
  /*width: auto;*/
  min-width: 40px;
  max-width: 98px;
  display: inline-block;
}
#obj5675 .drawing-size .size{
  display: block;
  width: 60px;
  height: 60px;
  background-color: #979797;
  margin: 2px;
  border-radius: 30px;
  float: left;
  clear: none;
}
#obj5675 .drawing-size .size.selected{
  background-color: #0A52A2;
}
#obj5675 .drawing-images{
  position: absolute;
  display: inline;
  top: 3px;
  left: 5px;
}
#obj5675 .drawing-images .drawing-background{
  width: auto;
  height: 70px;
  margin-left: 10px;
}
#obj5675 .drawing-images .drawing-background-hidden{
  display:none;
}
#obj5675 .drawing-colors{
  position:absolute;
  top:523px;
  left:217px;
  display: inline-block;
  max-width: 621px;
}
#obj5675 .drawing-colors .color{
  border : 1px solid white;
  heigth: 60px;
  width: 60px;
  float: left;
  clear: none;
}
#obj5675 .drawing-colors .color.selected{
  border : 1px solid red;
}

