html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.center {
    text-align: center;
}

button:focus {
    outline: 0.25em solid #FD9F10;
}

.screen_reader_only {
    position: absolute !important;
    top: auto;
    left: -3000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}