div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

div#obj7148 {
position: absolute;
overflow: hidden;
top: 0px;
left: 0px;
width: 1024px;
height: 768px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: auto;
}

#SC7148 {
	width: 1024px;
	height: 768px;
}













